MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=rootpass
MONGO_INITDB_DATABASE=torque

MONGO_REPLICA_NAME=torque-mongo-set
MONGO_HOST_REPLICA_1=torque-api-mongo-1
MONGO_HOST_REPLICA_2=torque-api-mongo-2
MONGO_HOST_REPLICA_3=torque-api-mongo-3